body{font-family:Arial;background:#f2f2f2;}
.container{max-width:900px;margin:auto;background:#fff;padding:20px;border-radius:8px;}
.question{margin-bottom:15px;}
label{display:block;padding:6px;background:#eee;margin:4px 0;border-radius:5px;cursor:pointer;}
button{padding:10px 20px;font-size:16px;margin:20px auto;display:block;}
.correct{background:#c8f7c5;}
.wrong{background:#f7c5c5;}